.crew {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 900px;
    margin-left: 70px; 
    
}

.crew__list{ 
    display: flex;
    flex-wrap: wrap; 
   
   
    
}

.crew__items {
    display: flex;
    flex-direction: column;
    align-items: center; /*
    justify-content: space-between;
*/
}


.crew__avatar { 
    border-radius: 50%;
    width: 160px;
    height: 160px;
    background-color: #4b73b5;
    margin-left: 92px;
    margin-top: 20px;
    overflow: hidden;
}

.crew__avatar img {
    width: 160px;
    height: 160px;
}

.crew__name {
    color: black;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
         
}
.crew__role {
    color: #4b73b5;
    font-weight: bold;    
}

.crew__description {
    color: #221f1f;
    font-size: 18px;
    font-weight: 300;
    margin-top: 26px;
    margin-left: 28px;
    text-align: center;
    width: 190px;
}

/*

.crew__items {
    display: inline-flex;
    flex-direction: column;  
    align-content: space-between;    
    padding: 20px;  
}

  
.crew__avatar { 
    border-radius: 50%;
    width: 68px;
    height: 68px;
    background-color: #4b73b5;
    margin-left: 92px;
    margin-top: 20px;
    background-image: url('../../img/star.png');
    background-repeat:no-repeat;
    background-position: center; 
}

.crew__items:first-child .crew__avatar {
    background-image: url('../../img/flower.png');
    background-repeat:no-repeat;
    background-position: center;
}

.crew__items:last-child .crew__avatar {
    background-image: url('../../img/paint.png');
    background-repeat:no-repeat;
    background-position: center;
}
.crew__name {
    width: 73px;
    color: #4e4e4e;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-left: 89px;
    margin-top: 35px;
      
}

.crew__price {
    color: #212121;
    font-size: 54px;
    font-weight: 400;
    color: #202020;
    margin-top: 35px;
    text-align: center;
    }


.crew__description {
    color: #221f1f;
    font-size: 18px;
    font-weight: 300;
    width: 185px;
    margin-top: 26px;
    margin-left: 28px;
    text-align: center;
}

.crew__description-list li {
    list-style: disc;    
}

.crew__points {
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    color: #221f1f; 
    margin-left: 30px;
}

*/