.infoblock { 
    display: flex;
    flex-direction: column;
    margin-left: 73px;
    margin-top: 7px;  
}

.infoblock__item {
    display: flex; 
    list-style-type: none;
}

.infoblock__picture, .infoblock__desc {
    display: flex;
    flex-direction: column;
}

.infoblock__item {
    margin-top: 40px; 
}
.infoblock__picture {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    overflow: hidden;
}

.infoblock__picture img {
    width: 160px;
    height: 160px;
}

.infoblock__desc {
    width: 595px;
    margin-left: 20px;
    text-align: left;
    font-size: 16px;
}

.infoblock__data {
    color: #656464;
    font-size: 14px;
    font-weight: 300;
}

.infoblock__title {
    font-weight: bold;
    font-size: 18px;
    margin:0;
}

.infoblock__description {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
   
}
