.nav__list {
   margin-top: 28px;
}

.nav__link {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.nav__icon {
    color: #221f1f;
    font-size: 12px;
    font-weight: bold; 
    text-transform: uppercase;
    letter-spacing: 2.4px;
}

.nav__link {text-decoration: none;}

.nav__item--active .nav__title, .nav__link {
    color: black;
}

.nav a {
    color: #4b73b5;
    font-size: 12px;
    font-weight: bold;;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
  }

.nav a:hover {color: #4f4c4c;
    filter: grayscale(100%);}

.nav__title {margin-left: 15px;}