.nav__list {
   margin-top: 20px;
   margin-left: 0px;
   display: flex;
}

.nav__link {
    display: inline-flex;
    align-items: center;
}



.nav__item {
    margin-bottom: 10px;
}

.nav__item:last-child {
    margin-bottom: 10px;
}



.nav__link:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image: url('../../img/icons/icons_sprite.png');
    background-repeat: no-repeat;    
}

.nav__link--main:before {
     width: 15px;
    height: 14px;
    background-position: -170px -5px;
}

.nav__link--comment:before {
    width: 20px;
    height: 18px;
    background-position: -319px -5px;
}

.nav__link--crew:before {
    width: 23px;
    height: 18px;
    background-position: -382px -5px;
}


.nav__link {text-decoration: none;}

.nav__item--active a {
    filter: grayscale(100%);
}
.nav__item--active .nav__title {
    color: #4f4c4c;
}

.nav a {
    color: #4b73b5;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.4px;
  }

.nav a:hover {color: #4f4c4c;
    filter: grayscale(100%);}

.nav__title {
    margin-left: 5px;
    margin-right: 97px;
    font-size: 14px;
    font-weight: bold; 
    text-transform: uppercase;
    letter-spacing: 2.4px;
    
}