.news { 
    display: flex;
    flex-direction: column;
    margin-left: 73px;
    margin-top: 7px; 
    margin-top: 0; 
}

.news__list {
    flex-wrap: wrap;

}

.news__item {
   display: inline-flex;
   flex-wrap: wrap;
   align-content: space-between;
    align-items: center;  
    list-style-type: none;
    margin-top: 40px; 
    width: 300px;
}



.news__picture {
    margin: 0 auto;   
    border-radius: 50%;
    width: 160px;
    height: 160px;
    overflow: hidden;
    background-image: url('../../img/noimg.png');
    background-repeat: no-repeat;    
}

.news__picture img {
    width: 160px;
    height: 160px;
}

.news__desc {
    display: flex
    flex-direction: column;    
    width: 595px;
    margin-left: 20px;
    margin-top: 30px;
    text-align: left;
    font-size: 16px;
}

.news__data {
    color: #656464;
    font-size: 14px;
    font-weight: 300;
}

.news__title {
    font-weight: bold;
    font-size: 18px;
    margin:0;
}

.news__description {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
   
}


.news__description p {width: 250px;}