
.pagination {
    display: flex;
    justify-content: center; 
    margin-top: 40px;
    margin-bottom: 40px; 
}

.pagination__display {
    color: #656464;
    font-size: 14px;  
}

.pagination__pages-number {
    display: inline-flex;
    padding: 0 5px;
    text-align: center;  
}

.pagination__pages-number a {
    text-decoration: none;
    color: #221f1f;
}

.pagination__pages-number a:hover {
    color: #4b73b5;
    font-weight: bold;
}

.pagination__pages-number--active {
    color: #fff;
    background-color:#4b73b5;
    width: 23px;
    height: 23px;
    border-radius: 20%;
    background-position: center;  
    text-align: center;
}

.pagination__pages-number--active a {
    color: #fff;
    font-weight: 300;
}

.pagination__pages-number--active a:hover {color: #fff; font-weight: 300;}

.pagination__pages-number--notactive a:hover {color: #656464; font-weight: inherit;}


.pagination__pages-number {
    list-style-type: none;
    color: #221f1f;
}

.pagination__controls {
    margin-left: 10px;
    