.partners {
	display: flex;
	flex-direction: column;
	margin-left: 70px;
	margin-top:10px; 
	
}

.partners__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	margin-left: 45px;
	margin-top: 28px;
}

.partners__items {
	padding-right: 100px;
	padding-bottom: 50px;	
}



 .partners__items img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray; 
	
}


.partners__items .partners__img--color {
	filter: none;
}

.partners__items img:hover {
	-webkit-filter: none;
	-moz-filter: none;
	-ms-filter: none;
	-o-filter: none;
	filter: none;
	filter: none;
}
