.plug {
	display: flex;
	align-items: flex-start;
	background-color: #4bb56b;
	background-image: url('../../img/point.png');
	background-repeat: round;
	color: #fff;
	font-size: 18px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.plug p {line-height: 1.7;}

.сontainer-plug {
	margin: 0 auto;
	width: 660px;
}
.plug__text {width: 100%;}

.plug__request {
	font-weight: bold;
	font-size: 18px;
	text-decoration: underline;
	color: #fff;
	cursor: pointer;
}

.plug__phone {
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	text-decoration: none;
	color: #fff;
}
