.socials__items {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #d2def3;
	background-image: url('../../img/vk.png');
	background-repeat:no-repeat;
    background-position: center;
    
}

.socials__items:hover {
	background-color: #fff;

}

.socials__items:nth-child(2) {
	background-image: url('../../img/fb.png');
}

.socials__items:nth-child(3) {
	background-image: url('../../img/google.png');
}

.socials__items:nth-child(4) {
	background-image: url('../../img/twitter.png');
}

.socials__items:nth-child(5) {
	background-image: url('../../img/mail.png');
}

.socials__title {
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 5px;
}

.socials__list {
	display: flex;
	margin-bottom: 20px;
	justify-content: space-between;
	
}

