
.tariff { 
    display: flex;
    flex-direction: column;  
    margin-left: 0px; 
    
    padding-bottom: 45px;
    padding: 23px 0px;
}



.tariff__item {
    display: inline-flex;
    flex-direction: column;  
    align-content: space-between;
    align-items: center;  
    padding: 0 35px; 
      
}

.tariff:hover {
    border: 0.5px solid rgb(82, 77, 77, 0.3);   
}

.tariff__avatar { 
    border-radius: 50%;
    width: 68px;
    height: 68px;
    background-color: #4b73b5;    
    position: relative; 
}


.tariff__avatar:after {
    content: "";
    display: block; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url('../../img/icons/icons_sprite.png');
    width: 32px;
    height: 32px;
    background-position: -247px -5px;
}


.tariff__items:first-child .tariff__avatar:after {
    width: 27px;
    height: 31px;
    background-position: -21px -5px;
}


.tariff__items:last-child .tariff__avatar:after {
    width: 28px;
    height: 29px;
    background-position: -105px -5px;
}


.tariff__name {
    margin-top: 25px;
    color: #4e4e4e;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;     
}

.tariff__price {
    color: #212121;
    font-size: 54px;
    font-weight: 400;
    color: #202020;
    margin-top: 7px;
}


.tariff__description {
    color: #221f1f;
    font-size: 18px;
    font-weight: 300;
    width: 185px;
    margin-top: 8px;
    margin-left: 30px;
  text-align: center;
}

.tariff__description-list li {
    list-style: disc; 
    margin-top: 12px; 
    
}

.tariff__points {
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    color: #221f1f; 
    margin-left: 30px;
}

