
.news {
    padding-left: 0px;
}

.news__list {
    margin-left: 197px;
    width: 100%;;
}

.news__item {
    list-style-type: none;
    }
.news__picture, .news__desc {
    display: inline-block;
}
.news__picture {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    overflow: hidden;
    background-repeat:no-repeat;
    background-position: center; 
   /*margin-top: 72px;
    margin-left: -5px;*/
}

.news__picture img {max-width: 160px; max-height: 160px;}
.news__desc {
    width: 595px;
    padding: 0;
    height: 100%;
    margin-top: 72px;
    margin-left: 20px;
    text-align: left;
    font-size: 16px;
}

.news__data {
    color: #656464;
    font-size: 14px;
    font-weight: 300;
}

.news__title {
    font-weight: 700;
    font-size: 18px;
}

.news__description {
    font-weight: 300;
}