body {
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav {
    display: inline;
    width: 35%;
    max-width: 300px;
    margin: 10px;
    float: left;
    margin-top: 30px;
}

.nav__item {
    display: inline;
    max-width: 300px;
}

.article {
    width: 70%;
    float: right;
}

.plane-banner {
    
    width: 1040px;
    height: 300px;
    padding-right: 0;
    margin-top: 10px;
    background-position: cover; 
    background-repeat: repeat;

}

h1 {
   visibility: hidden;
}

 .tariff__list {
    
}

.tariff__list h2 {
}


/*
.logo-picture {
    float:; 
    width: 120px;
    height: 36px;
    
}

/*
h1 {
    color: white;
}

.maincontent {
    width: 80%;
    height: 1500px;
}

.article {
    float: left;
    width: 80%;
}
.sidebar {
    float: left;
    width: 20%;

}

.plane-banner {
    width: 1100px;
    margin: 10px 400px 10px 100px;
    float: right;
}

.header {
    width: 180px;
    height: 47px;
    color: #221f1f;
    font-family: Roboto;
    font-size: 49px;
    font-weight: 700;
    line-height: 38px;
    margin-left: 199 px;
    margin-right: 721 px;
}


*/